.data {
    background-color: #f2f2f2;
}
.data table {
    border-collapse: collapse;
    width: 100%;
}
.data thead {
    font-weight: 600;
}
.data tbody {
    font-weight: 400;
}
.data td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;

}